<div class="ccc-vampiric-panel-body">
  {{#if rows.length}}
    <div class="ccc-table-wrapper">
      <table class="ccc-vampiric-table">
        <thead>
          <tr>
            <th class="col-portrait"></th>
            <th class="col-name">{{localize "CCC.Vampiric.Col.Char"}}</th>
            <th class="col-num">{{localize "CCC.Vampiric.Col.Cursed"}}</th>
            <th class="col-num">{{localize "CCC.Vampiric.Col.VHD"}}</th>
            <th class="col-num">{{localize "CCC.Vampiric.Col.Trinkets"}}</th>
            <th class="col-num">{{localize "CCC.Vampiric.Col.Saves"}}</th>
            <th class="col-actions">{{localize "CCC.Vampiric.Col.Actions"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}}
            <tr class="ccc-vampiric-row" data-actor-id="{{this.id}}">
              <td class="col-portrait">
                <img src="{{this.img}}" class="ccc-vampiric-portrait" alt="{{this.name}}" title="{{this.playerName}}" />
              </td>
              <td class="col-name">{{this.name}}</td>
              <td class="col-num">{{this.cursedCount}}</td>
              <td class="col-num">{{this.vhd}}</td>
              <td class="col-num col-trinkets">
                <span class="trinket-count">{{this.trinkets}}</span>
                <button type="button" class="trinket-give" data-action="trinket" title="{{localize 'CCC.Vampiric.Btn.Trinket'}}"><i class="fas fa-tag"></i></button>
              </td>
              <td class="col-num">{{this.endgameRollCount}}</td>
              <td class="col-actions">
                <div class="actions-controls">
                  <button type="button" data-action="curse" title="{{localize 'CCC.Vampiric.Btn.PostCard'}}"><i class="fas fa-comment"></i></button>
                  <button type="button" data-action="curseDirect" title="{{localize 'CCC.Vampiric.Btn.CurseNow'}}"><i class="fas fa-tint"></i></button>
                  <button type="button" data-action="curseManual" title="{{localize 'CCC.Vampiric.Btn.CurseManual'}}"><i class="fas fa-sliders"></i></button>
                  <button type="button" data-action="endgame" title="{{localize 'CCC.Vampiric.Btn.EndGame'}}" {{#unless this.endgameAvailable}}disabled{{/unless}}><i class="fas fa-skull"></i></button>
                  <button type="button" data-action="reveal" title="{{localize 'CCC.Vampiric.Btn.Reveal'}}" {{#unless this.verdictReady}}disabled{{/unless}}><i class="fas fa-gavel"></i></button>
                  <button type="button" data-action="audit" title="{{localize 'CCC.Vampiric.Btn.Audit'}}"><i class="fas fa-scroll"></i></button>
                  <button type="button" data-action="cure" title="{{localize 'CCC.Vampiric.Btn.Cure'}}"><i class="fas fa-cross"></i></button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <p class="muted">{{localize "CCC.Vampiric.NoPlayers"}}</p>
  {{/if}}
</div>